* {
    padding: 0%;
    margin: 0%;
}
body {
    font-family: cursive;
    color: azure;
    overflow-x: hidden;
}
.hero-section {
    background-color: #1f2937;
    min-width: 100%;
    min-height: 50vh;
    padding: 12px 20px;
}
.header {
    display: flex;
    justify-content: space-around;
}
.logo {
    font-size: 32px;
    font-weight: 900;
}
.links>ul {
    display: flex;
    margin-right: 20px;
}
ul>li {
    padding: 12px;
    list-style-type: none;
}
ul>li>a {
    text-decoration: none;
    color: azure;
}
.main-content {
    margin-top: 64px;
    display: flex;
    justify-content: space-around;
}
.para {
    max-width: 450px;
    padding: 32px;
}
.hero-heading {
    padding-bottom: 12px;
    font-size: 32px;
}
.content-button {
    background: rgb(81, 113, 255);
    padding: 10px 30px;
    margin-top: 12px;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 900;
}
.image-space {
    background: gray;
    min-width: 450px;
    min-height: 200px;
    margin-bottom: 82px;
    display: flex;
    font-size: 18px;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
}
/* body code of html */
.body {
    color: black;
    margin-bottom: 32px;
    text-align: center;
    /* display: flex;
    flex-direction: column;
    justify-content: center; */
}
.heading{
    font-size: 32px;
    font-weight: 900;
    margin: 30px;
}
.box{
    display: inline;
    width: 150px;
    height: 150px;
    border-radius: 8px;
    border: 4px rgb(81, 113, 255) solid;
    margin-bottom: 12px;
}
.cards {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 32px;
    color: rgb(41, 41, 41);
}
.card{
    display: flex;
    flex-direction: column;
    max-width: 150px;
}
.quote-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 20px;
    margin: 64px 0px;
    padding: 32px 64px;
    background: rgb(190, 188, 188);
}
.quote{
    text-align: left;
    font-style: italic;
    max-width: 500px;
    color: rgb(41, 41, 41);
    word-spacing: 4px;
    line-height: 25px;
}
p.title {
    text-align: right;
    margin-right: -500px;
}
/* blue rectangle card code  */
.blue-card-body {
    display: flex;
    justify-content: center;
    margin-bottom: 64px;
}
.blue-card{
    display: flex;
    justify-content: space-between;
    border-radius: 8px;
    min-width: 800px;
    color: azure;
    background: rgb(81, 113, 255);
    padding: 20px 30px;
}
.main-txt {
    font-size: 32px;
    font-weight: 800;
}
.button>button{
    background: rgb(81, 113, 255);
    padding: 10px 30px;
    margin-top: 12px;
    color: white;
    border: white solid 3px;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 900;
}
.footer {
    margin-top: auto;
    background: #1f2937;
    padding: 20px 0px;
    text-align: center;
    font-size: 19px;
}
